
.nav-style{
    background-color:  #F69240 !important;
    font-family: rockwell;
    font-weight: bold;
    font-size: 18px;
}
.container{
    max-width: 1200px;
}
p{
    font-family: Helvetica;
    font-size: 18px;
}
.navbar-nav{
    width: 90%;
}
.navbar-toggler-icon img{
    width: 30px !important;
    height: 30px !important;
}
.fb_icons img{
    height: 30px;
    width: 30px;
}
.ig_icons img{
    height: 30px;
    width: 30px;
}
.nav-link{
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.footer-style{
    background-image: url(../assets/PetbgPeachfooter-bg.png);
    background-size:cover;
    width: 100%;
    color: white;
}
.navbar-brand{
    background-image: url(../assets/RMG_Logo_Tag_Orange.png);
    height: 60px;
    width: 130px;
    margin: 10px;
    background-size: 130px 60px;
}
.navbar-brand:hover{
    background-image: url(../assets/RMG_LOGO_Tag_Grey.png);
    height: 60px;
    width: 130px;
    margin: 10px;
    background-size: 130px 60px;
    z-index: 1;
}
.nav-link{
    color:white;
}
.heroimg{
    width: 90%;
    border-radius: 5px;
}
.dropdown-menu{
    margin-top: 26px !important;
    background-color: #F8CCA6 !important;
    border:0px !important;
    border-radius: 0px !important;
    text-align: center !important;
    padding: 0 !important;
}
.dropdown-item{
    padding: 0.8rem 1rem !important;
    
}
.dropdown-item:hover{
    color:white;
    background-color:#275E37;
}
.donateIcon{
    position: fixed;
    right: 10px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.filter{
    text-align: center;
  margin: 20px 0px 20px 0px;
    width: 100%;
}
.filter button{
    border: 1px grey;
    border-style: solid;
    width: 150px;
    margin: 0px 20px 0px 20px;
    border-radius: 5px;
    padding: 5px;
}
.filter button:hover{
    color:#F69240;
    border-color: #F69240;
}
.petInfo{
    padding: 20px;
}
.petInfo button{
    border: 1px grey;
    border-style: solid;
    width: 100px;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
    padding: 5px;
}
.petInfo p{
    font-size: 14px;
}
.petInfo h5{
    margin-top:10px;
    margin-bottom: 0px;
}
.petInfo a{
    color: #71A557;
    font-style: italic;
}
.availablePeth1{
    text-align: center;
    font-family: rockwell;
    font-weight: bold;
    color:#71A557;
    margin: 30px 0px 30px 0px;
}
.logoCol{
    margin: 30px 0px 30px 0px;
}
.welcomeCol{
    font-family: rockwell;
    font-weight: bold;
    margin: auto;
}
.welcomeTo{
    color: #71A557;
}
.RMGname{
    font-size: 3rem;
    color: #4E4D4D;
}
.quote{
    font-family: rockwell;
    color:#71A557;
    font-size:30px;
}
.intro{
    padding-right: 20px;
}
.pagination_all{
    margin: 40px;
}
.pagination{
    justify-content: center;
}
.page-item{
    border-color:#71A557 !important;
}
.page-link{
    color: #71A557 !important;
}
.adopt{
    color:#275E37;
    border: 2px #275E37 !important;
    border-style: solid !important;
}
.foster{
    color:#71A557;
    border: 2px #71A557 !important;
    border-style: solid !important;
}
.active{
    color:white !important;
    background-color: #71A557;
}