
.nav-style{
    background-color:  #F69240 !important;
    font-family: rockwell;
    font-weight: bold;
    font-size: 18px;
}
.navbar-nav{
    width: 75%;
}
.fb_icons img{
    height: 30px;
    width: 30px;
}
.ig_icons img{
    height: 30px;
    width: 30px;
}
.footer-style{
    background-image: url(../assets/PetbgPeachfooter-bg.png);
    background-size:cover;
    width: 100%;
    color: white;
}
.navbar-brand{
    background-image: url(../assets/Property\ 1=Defaultlogo.png);
    height: 60px;
    width: 60px;
    margin: 10px;
    background-size: 60px 60px;
}
.navbar-brand:hover{
    background-image: url(../assets/logohover.png);
    height: 60px;
    width: 60px;
    margin: 10px;
    z-index: 1;
}
.nav-link{
    color:white;
}
.heroimg{
    width: 100%;
}