
.nav-style{
    background-color:  #F69240 !important;
    font-family: rockwell;
    font-weight: bold;
    font-size: 18px;
}
p{
    font-family: Helvetica;
}
.navbar-nav{
    width: 75%;
}
.fb_icons img{
    height: 30px;
    width: 30px;
}
.ig_icons img{
    height: 30px;
    width: 30px;
}
.nav-link{
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.footer-style{
    background-image: url(../assets/PetbgPeachfooter-bg.png);
    background-size:cover;
    width: 100%;
    color: white;
}
.navbar-brand{
    background-image: url(../assets/RMG_Logo_Tag_Orange.png);
    height: 60px;
    width: 60px;
    margin: 10px;
    background-size: 60px 60px;
}
.navbar-brand:hover{
    background-image: url(../assets/RMG_LOGO_Tag_Grey.png);
    height: 60px;
    width: 60px;
    margin: 10px;
    z-index: 1;
}
.nav-link{
    color:white;
}
.heroimg{
    width: 100%;
}
.dropdown-menu{
    margin-top: 26px !important;
    background-color: #F8CCA6 !important;
    border:0px !important;
    border-radius: 0px !important;
    text-align: center !important;
    padding: 0.8rem 0 !important;
}
.dropdown-item{
    padding: 0.8rem 1rem !important;
}
.donateIcon{
    position: fixed;
    right: 60px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.filter{
    text-align: center;
    margin: 20px;
    width: 100%;
}
.filter button{
    border: 1px grey;
    border-style: solid;
    width: 150px;
    margin: 0px 20px 0px 20px;
    border-radius: 5px;
}
.petInfo{
    padding: 20px;
}
.petInfo button{
    border: 1px grey;
    border-style: solid;
    width: 100px;
    margin: 0px 20px 0px 20px;
    border-radius: 5px;
}
.availablePeth1{
    text-align: center;
    font-family: rockwell;
    font-weight: bold;
    color:#71A557;
}
.logoCol{
    margin: 30px 0px 30px 0px;
}
.welcomeCol{
    font-family: rockwell;
    font-weight: bold;
    margin: auto;
}
.welcomeTo{
    color: #71A557;
}
.RMGname{
    font-size: 3rem;
    color: #4E4D4D;
}
.quote{
    font-family: rockwell;
    
}